{{ _('label_alert_state') }}: {{ state_label }}
{{ _('label_current_value') }}: {{ current_value_formatted }} {{ station_unit }}
{{ _('label_threshold') }}: {{ limit_formatted }} {{ station_unit }}
{{ _('label_predicted_crossing') }}: {{ crossing_time }}
{{ _('label_predicted_end') }}: {{ end_time }}
